:root {
    --i1: cubic-bezier(0.47, 0, 0.745, 0.715);
    --o1: cubic-bezier(0.39, 0.575, 0.565, 1);
    --io1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --i2: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --o2: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --io2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --i3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --o3: cubic-bezier(0.215, 0.61, 0.355, 1);
    --io3: cubic-bezier(0.645, 0.045, 0.355, 1);
    --i4: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --o4: cubic-bezier(0.165, 0.84, 0.44, 1);
    --io4: cubic-bezier(0.77, 0, 0.175, 1);
    --i5: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --o5: cubic-bezier(0.23, 1, 0.32, 1);
    --io5: cubic-bezier(0.86, 0, 0.07, 1);
    --i6: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --o6: cubic-bezier(0.19, 1, 0.22, 1);
    --io6: cubic-bezier(1,0,0,1)
}

body,html {
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain
}

body {
    overflow-y: scroll
}

#app {
    letter-spacing: -.02em
}

#app,#main,#sail {
    height: 100%
}

.nav {
    padding-top: .5859vw;
    font-size: 1.9531vw;
    line-height: 8.1055vw;
    display: flex;
    justify-content: space-between
}

@media (max-width: 600px) {
    .nav {
        padding-top:1.0667vw;
        font-size: 4.2667vw;
        line-height: 16vw
    }
}

#sail {
    z-index: 9995;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0e0e0e;
    will-change: opacity;
    opacity: 0;
    pointer-events: none
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 5.8594vw)
}

.w-intro.wrap,.wrap.wrap-t {
    width: calc(100% - 17.5781vw)
}

@media (max-width: 600px) {
    .w-intro.wrap,.wrap,.wrap.wrap-t {
        width:calc(100% - 10.6667vw)
    }
}

#a,.w-intro h2 {
    font-size: 2.9297vw;
    line-height: 3.8086vw
}

.a-txt-s {
    font-size: 1.9531vw;
    line-height: 2.3438vw;
    color: #666667
}

.a-ml {
    margin-left: 6.8359vw
}

.a-mtxl {
    margin-top: 10.7422vw
}

.a-mtl {
    margin-top: 9.7656vw
}

.a-mtm {
    margin-top: 5.8594vw
}

.a-mts {
    margin-top: 3.3203vw
}

.a-mtxs {
    margin-top: 1.1719vw
}

@media (max-width: 600px) {
    #a {
        font-size:5.3333vw;
        line-height: 6.9333vw
    }

    .a-txt-s {
        font-size: 4.2667vw;
        line-height: 5.3333vw
    }

    .a-ml {
        margin-left: 8vw
    }

    .a-mtxl {
        margin-top: 26.6667vw
    }

    .a-mtl {
        margin-top: 23.4667vw
    }

    .a-mtm {
        margin-top: 8.5333vw
    }

    .a-mts {
        margin-top: 6.9333vw
    }

    .a-mtxs {
        margin-top: 1.6vw
    }
}

#a-hero {
    padding-top: 39.0625vw
}

#a-hero h1 {
    font-size: 7.8125vw;
    line-height: 7.8125vw
}

#a-hero p {
    width: 86%
}

@media (max-width: 600px) {
    #a-hero {
        padding-top:66.6667vw
    }

    #a-hero h1 {
        font-size: 11.7333vw;
        line-height: 12.2667vw
    }

    #a-hero p {
        width: 100%
    }
}

#a-img {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 60px)
}

#a-img img,.h-list-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width: 600px) {
    #a-img {
        width:100%
    }
}

.h-list {
    text-align: center
}

.h-list:not(:first-child) {
    margin-top: 12.6953vw
}

@media (max-width: 600px) {
    .h-list:not(:first-child) {
        margin-top:21.3333vw
    }
}

.h-list-img {
    width: 100%;
    aspect-ratio: 964/1100
}

@media (max-width: 600px) {
    .h-list-img {
        aspect-ratio:335/600
    }
}

.h-list-title {
    padding-top: 3.9063vw;
    font-size: 3.9063vw;
    line-height: 5.0781vw
}

@media (max-width: 600px) {
    .h-list-title {
        padding-top:8vw;
        font-size: 8vw;
        line-height: 10.1333vw
    }
}

.h-list-discover {
    padding-top: 1.7578vw;
    font-size: 1.9531vw;
    line-height: 2.4414vw;
    opacity: .3
}

@media (max-width: 600px) {
    .h-list-discover {
        padding-top:2.1333vw;
        font-size: 4.2667vw;
        line-height: 5.3333vw
    }
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.w-hero {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.w-hero-title {
    position: absolute;
    left: 0;
    bottom: 6.8359vw;
    width: 100%
}

.w-hero-title h1 {
    font-size: 6.8359vw;
    line-height: 7.4219vw;
    text-align: center
}

.w-hero-title h1 span {
    display: block
}

.w-hero-title-arrow {
    margin-top: 3.9063vw;
    margin-left: auto;
    margin-right: auto;
    width: 5.8398vw;
    height: 6.8555vw;
    fill: #fff;
    transform: rotate(180deg)
}

.footer-top path,.w-footer-arrow path,.w-hero-title-arrow path {
    fill: rgba(255,255,255,.3)
}

@media (max-width: 600px) {
    .w-hero-title {
        bottom:5.3333vw
    }

    .w-hero-title h1 {
        font-size: 11.7333vw;
        line-height: 12.2667vw
    }

    .w-hero-title-arrow {
        margin-top: 10.6667vw;
        width: 12.2667vw;
        height: 14.4vw
    }
}

.w-intro {
    position: relative;
    padding: 16.6016vw 0
}

.w-intro p,.w-intro ul {
    font-size: 1.9531vw;
    line-height: 2.9297vw
}

.w-intro p {
    margin-top: 1.9531vw;
    color: #666667;
    width: 58.5938vw
}

.w-intro ul {
    margin-top: 8.7891vw
}

@media (max-width: 600px) {
    .w-intro {
        padding:26.6667vw 0
    }

    .w-intro h2 {
        font-size: 4.2667vw;
        line-height: 7.4667vw
    }

    .w-intro p,.w-intro ul {
        font-size: 3.7333vw;
        line-height: 5.6vw
    }

    .w-intro p {
        margin-top: 5.3333vw;
        width: 100%
    }

    .w-intro ul {
        margin-top: 13.3333vw
    }
}

.w-list-mtl {
    margin-top: 21.4844vw
}

.w-list-mts {
    margin-top: 2.9297vw
}

@media (max-width: 600px) {
    .w-list-mtl {
        margin-top:24vw
    }

    .w-list-mts {
        margin-top: 5.3333vw
    }
}

.w-footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.w-footer-next {
    font-size: 1.9531vw;
    line-height: 2.9297vw;
    color: #666667
}

.w-footer-title {
    margin-top: 1.9531vw;
    font-size: 6.8359vw;
    line-height: 7.4219vw
}

.w-footer-arrow {
    margin-top: 7.8125vw;
    margin-left: auto;
    margin-right: auto;
    width: 5.8398vw;
    height: 6.8555vw;
    fill: #fff;
    transform: rotate(180deg)
}

@media (max-width: 600px) {
    .w-footer-next {
        font-size:4.2667vw;
        line-height: 5.3333vw
    }

    .w-footer-title {
        margin-top: 2.6667vw;
        font-size: 8vw;
        line-height: 10.1333vw
    }

    .w-footer-arrow {
        margin-top: 10.6667vw;
        width: 12.2667vw;
        height: 14.4vw
    }
}

.footer {
    position: relative;
    padding-bottom: 2.9297vw
}

#h .footer {
    padding-top: 34.1797vw
}

#a .footer {
    padding-top: 11.7188vw
}

@media (max-width: 600px) {
    .footer {
        padding-bottom:5.3333vw
    }

    #h .footer {
        padding-top: 53.3333vw
    }

    #a .footer {
        padding-top: 21.3333vw
    }
}

.footer-title {
    font-size: 5.8594vw;
    line-height: 6.25vw
}

@media (max-width: 600px) {
    .footer-title {
        font-size:11.7333vw;
        line-height: 12.2667vw
    }
}

.footer-list {
    margin-top: 5.8594vw;
    font-size: 1.9531vw;
    line-height: 2.4414vw
}

.footer-list-cta {
    margin-top: .5859vw;
    height: 6.8359vw;
    line-height: 6.8359vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,.3)
}

.footer-list-cta>div:last-child {
    width: 1.1719vw;
    fill: #fff
}

.footer.on .footer-list-touch {
    border-bottom: none
}

.footer.on .footer-list-touch-cross-vertical {
    opacity: 0
}

@media (max-width: 600px) {
    .footer-list {
        margin-top:13.3333vw;
        font-size: 4.2667vw;
        line-height: 32vw
    }

    .footer-list-cta {
        margin-top: 1.0667vw;
        height: 14.9333vw;
        line-height: 14.9333vw
    }

    .footer-list-cta>div:last-child {
        width: 3.2vw
    }
}

.footer-contact {
    font-size: 1.9531vw;
    line-height: 5.6641vw;
    color: #666667;
    flex-wrap: wrap;
    display: none
}

.footer.on .footer-contact {
    display: flex
}

.footer-contact li {
    width: 50%
}

.footer-contact a {
    display: table
}

@media (max-width: 600px) {
    .footer-contact {
        font-size:4.2667vw;
        line-height: 12.2667vw
    }
}

.footer-top {
    margin-top: 9.7656vw;
    width: 5.8398vw;
    height: 6.8555vw;
    fill: #fff
}

@media (max-width: 600px) {
    .footer-top {
        margin-top:20vw;
        width: 12.2667vw;
        height: 14.4vw
    }
}
